.container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-top: 5%;
  /* margin-top: 15%; */
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  text-align: center;
  color: black;
}

body {
  font-family: "Bangers", cursive;
}

.card-title1 {
  color: red;
  text-align: center;
  font-size: 3vh;
}
.card-title2 {
  color: royalblue;
  text-align: center;
  font-size: 3vh;
}

.audio {
  margin: 0 auto;
  display: block;
}
